<?xml version="1.0"?>
<launch>

  <arg name="init_pos_x" default="0.0"/>
  <arg name="init_pos_y" default="0.0"/>
  <arg name="init_pos_z" default="0.1"/>
  <arg name="world" default="empty_world" doc="name of gazebo world to launch"/>
  <arg name="rviz" default="true" doc="launch rviz"/>
  <arg name="joy_dev" default="/dev/input/js0" doc="joypad to launch"/>

  <!-- launch world -->
  <!-- TODO: modify this part to be able to launch different worlds -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
    <arg name="world_name" value="$(find projet_youbot_pkg)/gazebo_worlds/world_1.world"/>
  </include>

  <param name="robot_description" command="$(find xacro)/xacro.py $(find youbot_description)/robots/youbot_base_only.urdf.xacro" />

  <node pkg="gazebo_ros" type="spawn_model" name="spawn_robot" respawn="false" output="screen"
    args="-param robot_description
          -urdf
          -x $(arg init_pos_x)
          -y $(arg init_pos_y)
          -z $(arg init_pos_z)
          -model youbot">
  </node>

  <!-- launch joint state controller -->
  <include file="$(find youbot_gazebo_control)/launch/joint_state_controller.launch" />

  <!-- launch base controller -->
  <include file="$(find youbot_gazebo_control)/launch/base_controller.launch" />

  <!-- teleop node -->
  <include file="$(find projet_youbot_pkg)/launch/teleop_joy.launch">
    <arg name="joy_dev" value="$(arg joy_dev)"/>
  </include>
  
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="30.0" />
  </node>

  <!--<node pkg="st5_generic" type="robot_pose_publisher.py" name="robot_pose_publisher">
    <param name="publish_tf" value="true"/>
    <param name="robot_name" value="youbot"/>
    <param name="frame_name" value="base_footprint"/>
    <param name="root_frame" value="odom"/>
    <param name="global_frame" value="world"/>
  </node>-->

  <!-- launch rviz -->
  <node if="$(arg rviz)" pkg="rviz" type="rviz" name="rviz" args="-d $(find projet_youbot_pkg)/rviz/youbot_sim_config.rviz"/>

  <node pkg="slam_karto" type="slam_karto" name="slam_karto">
    <rosparam command="load" file="$(find teleop_joy)/launch/karto_params.yaml"/>
    <remap from="scan" to="scan_front"/>
  </node>

</launch>
